.navbar{
    position: sticky;
    font-family: 'Verdana', sans-serif;
    z-index: 2;
    top: 0;
    width: 100%;
    display: grid;
    background: linear-gradient(to right, #2e6f95,#2e6f95);
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}   

.navbar-logo {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 100px;
    height: 60px;
    align-self: left;
}

.navbar-buttons {
    display: flex;
    margin-right: 100px;
    justify-content: flex-end;
    gap: 1px;
}

.navbar-menu .button {
    color: hsl(0 0% 90%);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Verdana', sans-serif;
    padding: 20px 20px; 
}

.navbar-menu .button:hover {
    background-color: hsl(200 60% 40%);
}