

.banner-section {
    height: 800px;
    justify-content: space-between;
}

.banner-column {
    flex-basis: 20%;
}

.banner-content {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content h1, .banner-content h2 {
    text-align: center;
}

.banner-image {
    padding-top: 200;
    flex-basis: 40%;
    display: flex;
    justify-content:center;
    align-items:center;
}












.banner-social-icons {
    display: flex;
    gap: 10px;
}

.banner-social-icons img {
    width: 48px;
    /* Adjust the size as needed */
    height: 48px;
    border-radius: 50%;
}

.banner-call-to-action-button {
    padding: 15px 20px;
    font-size: 18px;
    background-color: #5694CB;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.banner-call-to-action-button:hover {
    background-color: #ffffff;
    color: #5694CB;
    border-color: #333;
    border-radius: 2px;
}

