.header-container {
    font-family: Verdana, sans-serif;
    color: #000;
    margin: 0;
    width: 80%;
    margin: 20px auto;
}

.header-row {
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.header-headline {
    font-size: 24px;
    color: darkblue;
}

.header-sub-headline {
    font-size: 12px;
    color: darkblue;
}

.header-text-block {
    font-size: 24px;
    color: #4A90E2; /* Middle Blue */
}

.header-icon-list {
    display: flex;
    align-items: center;
}

.header-icon {
    width: 50px;
    height: 50px;
    background-color: #4A90E2; /* Middle Blue */
    border-radius: 50%;
    margin-right: 10px;
}

.header-button {
    text-align: left;
}

button {
    padding: 10px;
    background-color: #4A90E2; /* Middle Blue */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
