.navbar{
    position: sticky;
    font-family: 'Verdana', sans-serif;
    z-index: 2;
    top: 0;
    width: 100%;
    display: grid;
    background: linear-gradient(to right, #2e6f95,#2e6f95);
    grid-template-columns: 1fr 1fr;
    /* Updated grid template columns */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow for separation */
}   

.navbar-logo {
    padding: 5px;
    padding-left: 100px;
    height: 40px;
    align-self: left;
}

.navbar-buttons {
    display: flex;
    margin-right: 100px;
    justify-content: flex-end;
    /* Align the menu to the right */
    gap: 1px;
    /* Add some space between menu items */
}

.navbar-menu .button {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    /* Doubled font size */
    font-family: 'Verdana', sans-serif;
    padding: 20px 20px;
    /* Doubled button size */
}

.navbar-menu .button:hover {
    background-color: #1780a1;
}

