.section-type-one {
    padding-top: 40px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  .section-type-two {
    padding-top: 40px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  .unique-main-section {
    padding-top: 40px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  .design {
    padding-top: 40px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  .coding{
    padding-top: 40px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  .data-and-cloud{
    padding-top: 40px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }  
  .misc{
    padding-top: 40px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  


  .unique-columns {
    display: flex;
    gap: 40px;
    width: 90%; /* Set the width of the columns to 80% */
    margin: 0 auto; /* Center the columns on the screen */
  }

  .unique-column {
    flex: 1;
    flex-shrink: 0; /* Prevent the columns from shrinking */
  }

  .unique-container {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Start with opacity 0 to hide icons initially */
    transform: translateX(50px);
    animation: slowly-appear 1s ease-in-out forwards;
  }



  .unique-container h1 {
    margin-bottom: 20px;
  }

  .unique-icon-container {
    display: flex;
    overflow: hidden; /* Ensures the row of icons doesn't overflow */
  }

  .unique-icon-box {
    height: 60px;
    width: auto;
    padding-top: 10px;
    margin: 0 5px;
    opacity: 0; /* Start with opacity 0 to hide icons initially */
    transform: translateX(-400px) rotate(-540deg);
    animation: roll-in-left 2s ease-in-out forwards;
  }

  
  @keyframes slowly-appear {
    0% {
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
 
  @keyframes roll-in-left {
    0% {
      transform: translateX(-400px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }

    .unique-icon-box-two {
        height: 60px;
        width: auto;
        margin: 0 5px;
        opacity: 0; /* Start with opacity 0 to hide icons initially */
        transform: translateX(-400px);
        animation: slide-in-left 2s ease-in-out forwards;
      }
    
  @keyframes slide-in-left{
    0% {
        transform: translateX(-400px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }

    }
    

  

  .unique-text-box {
    margin-top: 20px;
  }

  .unique-image-container {

  }