.animated-container {
  background: linear-gradient(to right, #ffffff, #419db9);
  /* Gradient background */
  animation: bg-pan-left 8s infinite alternate;
}

@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }

<<<<<<< HEAD


    .animated-container {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to right, #d2ff09, #419db9); /* Gradient background */
      animation: bg-pan-left 8s infinite alternate;
    }

    @keyframes bg-pan-left {
      0% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    h1, p {
      color: #fff; /* Text color on the gradient background */
    }
=======
  100% {
    background-position: 0% 50%;
  }
}

.animated-container h1, h2, h3, h4, h5, h6,
p, li, a, span, .button, .to
p {
  /* Text color on the gradient background */
  color: #000;
}
>>>>>>> c0126f364818bf4c4e53c1891a5a500267045b01
