.animated-container {
  background: linear-gradient(to right, #ffffff, #419db9);
  /* Gradient background */
  animation: bg-pan-left 8s infinite alternate;
}

@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animated-container h1,
p {
  /* Text color on the gradient background */
  color: #000;
}