div,
img {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    /* background: linear-gradient(45deg, #49a09d, #5f2c82, #b20710, #ff4e00, #ffc800, #ff4e00, #b20710, #5f2c82, #49a09d); */
}

h1 {
    font-family: Verdana, sans-serif;
    font-size: 5em;

}

h2 {
    font-family: Verdana, sans-serif;
    font-size: 2em;
    font-style: italic;


}