.animated-container {
  background: radial-gradient( #ffffff, #419db9);
  /* Gradient background */
  animation: bg-pan-left 8s infinite alternate;
  padding-bottom: 100;
}

@keyframes bg-pan-left {
  0% {
    background-position: 200px -400px;
  }
  100% {
    background-position: -400px 200px;
  }
}

.animated-container h1, h2, h3, h4, h5, h6,
p, li, a, span, .button, .to
p {
  /* Text color on the gradient background */
  color: #000;
}
