

.loading-containerd {
        font-family: 'Arial', sans-serif;
        display: flex;
        justify-content: space-around;
        align-items: center;

    padding-top: 100px;
    background-color: #530d8d;
    border: 1px solid #a14545;
    border-radius: 5px;
    overflow: hidden;
}

.loading-bar {
    z-index: 5;
    width: 0;
    height: 20px;
    background: linear-gradient(to right, #3498db, #e74c3c);
    background-size: 200% 100%;
    animation: gradientAnimation 2s linear infinite;
    transition: width 0.3s ease-in-out;
    position:fixed;
}

.loading-text {

    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}

@keyframes gradientAnimation {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}